
@media only screen and (max-width: 499px){
	/*for mobile*/
	[class*="col-s-"]{ float: left; width: 100%; }
}

@media only screen and (min-width: 500px){
	/*for ipad*/
	.col-m-1{ width: 20%; }
	.col-m-2{ width: 20%; }
	.col-m-3{ width: 40%; }
	.col-m-4{ width: 40%; }
	.col-m-5{ width: 60%; }
	.col-m-6{ width: 60%; }
	.col-m-7{ width: 60%; }
	.col-m-8{ width: 80%; }
	.col-m-9{ width: 400%; }
	.col-m-10{ width: 100%; }
}

@media only screen and (min-width: 768px){
	/*for pc*/
	.col-p-1{ width: 10%; }
	.col-p-2{ width: 20%; }
	.col-p-3{ width: 30%; }
	.col-p-4{ width: 40%; }
	.col-p-5{ width: 50%; }
	.col-p-6{ width: 60%; }
	.col-p-7{ width: 70%; }
	.col-p-8{ width: 80%; }
	.col-p-9{ width: 90%; }
	.col-p-10{ width: 100%; }
		
}


[class*="col-"]{ float: left; }
.head{
	background-color:#66b3ff;
	min-height: 100px;
}
.left{
	background-color: #ff668c;
	min-height: 200px;
}
.right{
	background-color: #ffff66;
	min-height: 200px;
}
.foot{
	background-color: #eeccff;
	min-height: 50px;
}
